@font-face {
    font-family: modernSans;
    src: url("./assets/fonts/ModernSans-Light.otf");

    font-family: Coluna;
    src: url("./assets/fonts/Coluna.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
